$light-foreground: #ebebeb;
$icon-color: #979797;
$text-color: rgb(80, 80, 80);
$primary-color: #764dbe;
$light-primary-color: #d5bffc;
$error-box-color: rgb(241, 56, 56);
$error-border-color: rgb(253, 158, 158);
$avatar-1: darken(#fdd25d, 10%);
$avatar-2: darken(#77b8a0, 10%);
$avatar-3: darken(#f5adea, 10%);
$avatar-4: darken(#c082ff, 10%);
$avatar-5: darken(#a9f352, 10%);
$avatar-6: darken(#ff947b, 10%);
$avatar-7: darken(#ff6290, 10%);
$avatar-8: darken(#ff750e, 10%);
$avatar-9: darken(#adb5d7, 10%);
$avatar-10: darken(#f7b923, 10%);