@mixin scrollTheme($track-color, $thumb-color, $thumb-hover-color) {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: $track-color;
  }

  ::-webkit-scrollbar-thumb {
    background: $thumb-color;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $thumb-hover-color;
  }
}